<div class="myContainer">
  <header>Menu</header>
  <aside>
    <app-add 
    (informeParent)="increment()"
    [(phoneNumber)]="v"
    nom="Madjiguen" ></app-add>
  </aside>
  <section>
    <h3>Compteur: {{compteur}}</h3>
    <h5>Contenu de l'input: {{v}}</h5>

    <table border="5">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOM</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        
         @for(item of tab; track item.id){
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.nomComplet}}</td>
            <td><button (click)="supprimer(item.id)">Sup</button></td>
          </tr>
         }
      </tbody>

     
    </table>
  </section>
  <footer>
    Footer  
  </footer>


</div>