<div>
    <p>liste works</p>

    <table border="5">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nom</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Diop Alpha</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Diop Alpha</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Diop Alpha</td>
                <td>Delete</td>
            </tr>
        </tbody>

    </table>
</div>